<div class="flex-wrapper">
    <h1>кто мы?</h1>
    <p>harajukunochan - студентка 1 курса брянского первого технического, начинающая шлепа, нежно любящая css файлы на 1000+ строк</p>
    <p>это веб-приложение – моя курсовая работа, оно написано на рельсах</p>
    <p>оставить отзывы, сообщить о багах и сказать автору "маладца" вы сможете, когда будет готов бот в тг</p>
    <div class="footer">
        <p>prod by harajukunochan</p>
    </div>
</div>
