<div class="flex-wrapper">
  <h1>go quest</h1>

  <p> добро пожаловать в лучшую cms для создания образовательных квестов</p>

  <%= link_to "войти", login_path %>
  <%= link_to "создать аккаунт", register_path %>
</div>


<div class="footer">
  <p>prod by harajukunochan</p>
</div>
